
.menu-toggle {
  top: 70% !important; /* Position it below the plat toggle */
  background: #10b981 !important; /* Greenish for differentiation */
}

.menu-toggle.open {
  right: 500px;
}

@media (max-width: 600px) {
  .menu-toggle.open {
    right: 90%;
  }
}



.day-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.day-date {
  font-size: 0.8rem;
  color: var(--text-muted);
}
