<section id="section-menus">
  <h2 id="menus-title">Mes menus de la semaine</h2>
  <div id="menus"></div>
</section>

<script>
  import { utilisateur } from "../../store.ts";
  const u = utilisateur.get();
  u.afficherMenus();
</script>
