---
import ListePlats from "../ListePlats";
---

<section id="plats">
  <div class="plats-container">
    <div class="plats-header">
      <h2 id="plats-title">Mes plats</h2>
    </div>

    <ListePlats client:only="react" />
  </div>
</section>
