<header>
  <h1>Les menus de la semaine</h1>
  <div class="button-container">
    <button id="btn-charger" class="btn-primary">Charger les données</button>
    <button id="btn-sauvegarder" class="btn-primary"
      >Sauvegarder les données</button
    >
  </div>
  <nav class="button-container">
    <a href="/#plats" class="btn-secondary">Plats</a>
    <a href="/#menus" class="btn-secondary">Menus</a>
    <a href="/#stock" class="btn-secondary">Stock</a>
  </nav>
</header>
