<header>
  <button
    id="btn-sauvegarder"
    class="side-panel-toggle save-toggle-btn"
    aria-label="Enregistrer les données"
    title="Enregistrer les données"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-save"
      ><path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"
      ></path><polyline points="17 21 17 13 7 13 7 21"></polyline><polyline
        points="7 3 7 8 15 8"></polyline></svg
    >
  </button>
  <h1>Les menus de la semaine</h1>
  <div class="button-container">
    <button
      id="btn-charger"
      class="btn-primary"
      aria-label="Charger les données"
      title="Charger les données">Charger</button
    >
    <button
      id="btn-reset"
      class="btn-danger"
      aria-label="Réinitialiser les données"
      title="Réinitialiser les données">Réinitialiser</button
    >
  </div>
  <nav class="button-container">
    <a href="#plats" class="btn-secondary">Plats</a>
    <a href="#menus" class="btn-secondary">Menus</a>
  </nav>
</header>
<script>
  import { utilisateur } from "../../store.ts";

  const btn = document.getElementById("btn-charger");
  btn?.addEventListener("click", async () => {
    const u = utilisateur.get();
    await u.chargerDataDepuisJson();
    utilisateur.set(u.clone());
  });

  const btn2 = document.getElementById("btn-sauvegarder");
  btn2?.addEventListener("click", async () => {
    const result = await utilisateur.get().telechargerDataEnJson();
    if (result) {
      utilisateur.get().cacherBoutonSauvegarder();
    }
  });

  const btn3 = document.getElementById("btn-reset");
  btn3?.addEventListener("click", async () => {
    if (window.confirm("Voulez-vous vraiment réinitialiser les données ?")) {
      const u = utilisateur.get();
      u.reset();
      utilisateur.set(u.clone());
    }
  });
</script>
