---
import FormulairePlat from "../components/formulaire-plat";
import Layout from "../layouts/layout.astro";
---

<Layout>
  <section id="plats">
    <section>
      <h2>Plats</h2>
      <div id="liste_plats"></div>
      <FormulairePlat client:load />
    </section>
  </section>
  <section id="menus">
    <h2>Menus</h2>
    <div id="historique_menus"></div>
  </section>
  <section id="stock">
    <h2>Stock</h2>
    <div id="ingredients_en_stock"></div>
  </section>
</Layout>

<script>
  import { utilisateur } from "../store.ts";
  utilisateur.get().AfficherPlats();
  utilisateur.get().AfficherHistoriqueMenus();
  utilisateur.get().AfficherStock();
</script>
