---
import Header from "../components/layouts/header.astro";
import Footer from "../components/layouts/footer.astro";
import "../styles/main.css";
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      href={import.meta.env.BASE_URL + "icons8-nourriture-96.png"}
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Les menus de la semaine</title>
    <!-- Matomo -->
    <script>
      // eslint-disable-next-line @typescript-eslint/no-explicit-any
      const _paq = ((window as any)._paq = (window as any)._paq || []);
      _paq.push(["disableCookies"]);
      _paq.push(["setDoNotTrack", true]);
      _paq.push(["trackPageView"]);
      _paq.push(["enableLinkTracking"]);

      (function () {
        const u = "https://stats.alx-solutions-numeriques.fr/";
        _paq.push(["setTrackerUrl", u + "matomo.php"]);
        _paq.push(["setSiteId", "8"]);
        const d = document,
          g = d.createElement("script"),
          s = d.getElementsByTagName("script")[0];
        g.async = true;
        g.src = u + "matomo.js";
        if (s.parentNode) {
          s.parentNode.insertBefore(g, s);
        }
      })();
    </script>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
